<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">
  <div fxFlex>
    <div>
        <h3>About Us</h3>
        <hr>
    </div>
  </div>
  <div fxLayout="column" fxLayout.gt-sm="row">
    <div fxFlex="70">
      <span> Started from the bottom  now we're here Started from the bottom  now we're here Started from the bottom  now we're here Started from the bottom  now we're here 
        Started from the bottom  now we're here Started from the bottom  now we're here Started from the bottom  now we're here Started from the bottom  now we're here 
      </span>
    </div>
    <div fxFlex="30">
      <mat-card>
        <p>Started</p>
        <p>3 Feb 2013</p>
        <p>Major State Holder</p>
        <p>HK Fine Foods Inc.</p>
        <p>Last Year's Turnover</p>
        <p>$1,250,375</p>
        <p>Employees</p>
        <p>40</p>
      </mat-card>
    </div>
  </div>
  <mat-card>
    <div>
      <h3> You better cut the pizza in four pieces because I'm not hungry enough to eat six.</h3>
      <p>-- Togi Berra, The Wit and Wisdom of Yogi Berra</p>
    </div>
  </mat-card>
  <mat-card>
    <mat-list>
      <mat-list-item><span>jakiś typ</span></mat-list-item>
      <mat-list-item><span>jakiś typ</span></mat-list-item>
      <mat-list-item><span>jakiś typ</span></mat-list-item>
      <mat-list-item><span>jakiś typ</span></mat-list-item>
    </mat-list>
  </mat-card>
</div>
